@model WebApp14thJulyInsertDeletEdit.Models.Movie_Detail
{
    ViewBag.Title = "Check";
}

<h2>Home Check</h2>
<div style="color:purple;font-size:40px">
    <table>
        <tr>
            <td>@Model.Movie_Name</td>
            <td>@Model.Hero_Name</td>
            <td>@Model.Location_Name</td>
            <td>@Model.Ticket_price</td>
            <td>@Model.collections</td>
        </tr>
    </table>
</div>

