@model MVC.NetWorks.Models.ProCust
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.pr.Price
        <h1>@ViewBag.abc.pr.Name</h1>
        <h1>@ViewBag.abc.Cu.Name</h1>

        <h1> @ViewBag.Customer  </h1>
        <h1> @ViewBag.Product </h1>
        <h1> @ViewBag.ProCust</h1>
    </div>
</body>
</html>
