@model ManualWorksOnMVC19thJuly.Models.Personal_Bank_Details
@{
    ViewBag.Title = "Check";
}

<h2>Default Check</h2>

<div style="color:purple;font-size:40px">
    <table>
        <tr>
            <td>@Model.pId</td>
            <td>@Model.Customar_Name</td>
            <td>@Model.Customar_Father_Name</td>
            <td>@Model.Customar_Addar_Num</td>
            <td>@Model.Customar_Acc</td>
            <td>@Model.Customar_Village</td>
        </tr>
    </table>
</div>
