<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h4>@Html.ActionLink("Contact page", "index", "Contact")
        @Html.ActionLink("Default page", "index", "Default")
        @Html.ActionLink("Home page", "index", "Home")</h4>
        @RenderBody()
    </div>
</body>
</html>
